# Question 1 - Extracting Tesla Stock Data Using yfinance

In [1]:
import yfinance as yf

In [2]:
tesla = yf.Ticker("TSLA")

tesla_date=tesla.history(period="max")
tesla_date.reset_index(inplace=True)
tesla_date.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

# Question 2 - Extracting Tesla Revenue Data Using Webscraping

In [3]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla_page=requests.get(url).text
soup=BeautifulSoup(tesla_page,"html.parser")

In [5]:
tesla_revenue = pd.DataFrame(columns=["Year", "Revenue"])
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    tesla_revenue = pd.concat([tesla_revenue, pd.DataFrame({"Year":[year], "Revenue":[revenue]})], ignore_index=True)
tesla_revenue.tail()

    Year Revenue
8   2013  $2,013
9   2012    $413
10  2011    $204
11  2010    $117
12  2009    $112

In [ ]:
import plotly.express as px
tesla_revenue = pd.DataFrame(tesla_revenue, columns=["Year", "Revenue"])
tesla_revenue = tesla_revenue.sort_values(by="Year")

fig = px.line(tesla_revenue, x="Year", y="Revenue", title="Andamento del Fatturato di Gamestop",
              markers=True, labels={"Revenue": "Fatturato ($M)"})
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed